/* ---------- BASIC RESET ---------- */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* Улучшает читаемость */
  -webkit-text-size-adjust: 100%; /* Исправляет зум на iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* ---------- TEXT ---------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------- MEDIA ---------- */

img,
picture {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
}

/* ---------- FORMS ---------- */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Убирает разные системные шрифты */
  margin: 0;
  padding: 0;
}

input {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}

/* ---------- TABLES ---------- */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
}

/* ---------- OTHER ---------- */

img {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}
