@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
